<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         id="WebApp_ID" version="3.0">
  <display-name>warehouse</display-name>

<!-- 
  <filter>
  	<filter-name>CommonFilter</filter-name>
  	<filter-class>com.dio.warehousespring.StorageCommonFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CommonFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>StorageSelectFilter</filter-name>
    <filter-class>com.dio.warehousespring.StorageSelectFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>StorageSelectFilter</filter-name>
    <url-pattern>/StorageSelect.jsp</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>StorageActionFilter</filter-name>
    <filter-class>com.dio.warehousespring.StorageActionFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>StorageActionFilter</filter-name>
    <url-pattern>/StorageAction.jsp</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>StorageItemMaintainFilter</filter-name>
    <filter-class>com.dio.warehousespring.StorageItemMaintainFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>StorageItemMaintainFilter</filter-name>
    <url-pattern>/StorageItemMaintain.jsp</url-pattern>
  </filter-mapping>
 -->
 
  <filter> 
    <filter-name>springSecurityFilterChain</filter-name> 
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> 
  </filter>
 
	<filter-mapping> 
	   <filter-name>springSecurityFilterChain</filter-name> 
	   <url-pattern>/*</url-pattern> 
	</filter-mapping>
	

	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>/WEB-INF/security.xml, /WEB-INF/application-context.xml</param-value>
	</context-param>
	
	<listener>
	   <listener-class>
	        org.springframework.web.context.ContextLoaderListener
	   </listener-class>
	</listener> 
	
  <servlet>
       <servlet-name>mvc-dispatcher</servlet-name>
       <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
       <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
       <servlet-name>mvc-dispatcher</servlet-name>
       <url-pattern>/service/*</url-pattern>
   </servlet-mapping>
   
   
  <servlet>
    <servlet-name>jersey-rest</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
        <param-name>jersey.config.server.provider.packages</param-name>
        <param-value>com.dio.warehousespring,com.jersey.jaxb,com.fasterxml.jackson.jaxrs.json</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>jersey-rest</servlet-name>
    <url-pattern>/jersey/*</url-pattern>
  </servlet-mapping>  
   
    
   <servlet-mapping>
       <servlet-name>mvc-dispatcher</servlet-name>
       <url-pattern>*.html</url-pattern>
   </servlet-mapping>
   
</web-app>
  